doc/html/
doc/latex/
*.o
Makefile.in
Makefile
src/mchashjoins
install-sh
config.guess
config.h.in~
config.log
config.status
config.sub
configure
aclocal.m4
.history
.settings
*.a
.idea
.project
.cproject
autom4te.cache/
src/.deps/
*.gch
depcomp
ltmain.sh
missing
compile
src/core*
r_skew*
s_skew*
core*
results/
results*
*.swp
